<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ben's Shows</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, show-scalable=no" />

    <link rel="stylesheet" href="assets/css/app.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css" />
</head>

<body ng-app="starterApp" layout="row" ng-controller="ShowController as ul">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-cloak>
        <md-toolbar class="md-whiteframe-z1">
            <h1>Shows</h1>
        </md-toolbar>

        <md-list>
            <md-list-item ng-repeat="it in ul.shows" ng-cloak>
                <md-button ng-click="ul.selectShow(it)" ng-class="{'selected' : it === ul.selected }">
                    <show-image image="it.image" container-class="avatar-sidebar-container" image-class="avatar"></show-image>
                    {{it.name}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" ng-cloak>
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show Show List">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h1>Ben's Shows</h1>
        </md-toolbar>

        <md-content flex layout-padding id="content">
            <div layout="row" class="header">
                <show-image image="ul.selected.image" container-class="avatar-container" image-class="avatar"></show-image>
                <h2 class="header-text">{{ul.selected.name}}</h2>
            </div>
            <div layout layout-sm="column" ng-hide="!ul.selected.seasons">
                <md-input-container flex>
                    <label>Seasons</label>
                    <input ng-model="ul.selected.seasons">
                </md-input-container>
                <md-input-container flex>
                    <label>Episodes per Season</label>
                    <input ng-model="ul.selected.seasonEpisodes">
                </md-input-container>
            </div>
            <div layout layout-sm="column" class="width-50">
                <md-input-container flex ng-hide="!!ul.selected.seasons">
                    <label>Episodes</label>
                    <input ng-model="ul.selected.episodes" ng-readonly="ul.selected.next == -1">
                </md-input-container>
                <md-input-container flex ng-hide="ul.selected.next == -1">
                    <label>Next</label>
                    <input ng-model="ul.selected.next">
                </md-input-container>
            </div>
            <div layout class="width-75">
                <md-input-container flex>
                    <label>Notes</label>
                    <textarea ng-model="ul.selected.notes"></textarea>
                </md-input-container>
            </div>
        </md-content>

    </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./src/shows/Shows.js"></script>
    <script src="./src/shows/ShowController.js"></script>
    <script src="./src/shows/ShowService.js"></script>
    <script src="./src/shows/ShowImageDirective.js"></script>

    <script type="text/javascript">
        angular
            .module('starterApp', ['ngMaterial', 'shows'])
            .config(function ($mdThemingProvider, $mdIconProvider) {

                $mdIconProvider
                    .defaultIconSet("./assets/svg/avatars.svg", 128)
                    .icon("one-piece", "./assets/svg/one-piece.svg", 1000)
                    .icon("naruto", "./assets/svg/naruto.svg", 600)
                    .icon("naruto-shippuden", "./assets/svg/naruto-shippuden.svg", 600)
                    .icon("menu", "./assets/svg/menu.svg", 24)
                    .icon("share", "./assets/svg/share.svg", 24)
                    .icon("google_plus", "./assets/svg/google_plus.svg", 512)
                    .icon("hangouts", "./assets/svg/hangouts.svg", 512)
                    .icon("twitter", "./assets/svg/twitter.svg", 512)
                    .icon("phone", "./assets/svg/phone.svg", 512);

                $mdThemingProvider.theme('default')
                    .primaryPalette('blue-grey')
                    .accentPalette('blue');
            });
    </script>

</body>

</html>