<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ben's Shows</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width" />

    <link rel="stylesheet" href="assets/css/app.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css" />
</head>

<body ng-app="starterApp" layout="row" ng-controller="ShowController as ul">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-cloak>
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <h1 flex="33" offset="33">Shows</h1>
        </md-toolbar>

        <md-list>
            <md-list-item ng-repeat="it in ul.shows" ng-cloak>
                <md-button ng-click="ul.selectShow(it)" ng-class="{'selected' : it === ul.selected }">
                    <div class="avatar-sidebar-container">
                        <div ng-style="it.image | extendDefault:'show-image'"></div>
                    </div>
                    {{it.name}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" ng-cloak>
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button flex="15" class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show List of Shows">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h1 flex offset-gt-sm="30" offset-sm="10">Ben's Shows</h1>
        </md-toolbar>

        <md-content layout="column" layout-padding id="content">
            <div layout="row" class="header">
                <div flex-sm="10" class="avatar-container">
                    <div ng-style="ul.selected.image | extendDefault:'show-image'"></div>
                </div>
                <h2 flex-gt-sm="80" flex-sm="55" offset-sm="5" class="header-text">{{ul.selected.name}}</h2>
                <md-checkbox flex ng-model="ul.selected.watched" aria-label="Toggle Finished Watching Show">
                    <md-tooltip md-direction="left">Finished Watching?</md-tooltip>
                </md-checkbox>
            </div>
            <div layout="row" ng-hide="!(ul.selected.filmType | isShowType:'seasons')">
                <md-input-container flex-sm="50" flex-gt-sm="30">
                    <label>Seasons</label>
                    <input ng-model="ul.selected.seasons">
                </md-input-container>
                <md-input-container flex-sm="50" flex-gt-sm="30">
                    <label>Episodes per Season</label>
                    <input ng-model="ul.selected.seasonEpisodes">
                </md-input-container>
            </div>
            <div layout>
                <md-input-container flex-sm="50" flex-gt-sm="30" ng-hide="!(ul.selected.filmType | isShowType:'episodes')">
                    <label>Episodes</label>
                    <input ng-model="ul.selected.episodes">
                </md-input-container>
                <md-input-container flex-sm="50" flex-gt-sm="30" ng-hide="ul.selected.watched">
                    <label>Next</label>
                    <input ng-model="ul.selected.next">
                </md-input-container>
            </div>
            <div layout>
                <md-input-container flex-sm flex-gt-sm="80">
                    <label>Notes</label>
                    <textarea ng-model="ul.selected.notes"></textarea>
                </md-input-container>
            </div>
        </md-content>

    </div>

    <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="src/shows/Shows.js"></script>
    <script src="src/shows/show-constants.js"></script>
    <script src="src/shows/ShowController.js"></script>
    <script src="src/shows/ShowService.js"></script>
    <script src="src/shows/show-filters.js"></script>

    <script type="text/javascript">
        angular
            .module('starterApp', ['ngMaterial', 'shows'])
            .config(function ($mdThemingProvider, $mdIconProvider, extendDefaultObjectsProvider) {

                $mdIconProvider
                    .defaultIconSet("./assets/svg/avatars.svg", 128)
                    .icon("menu", "./assets/svg/menu.svg", 24)
                    .icon("share", "./assets/svg/share.svg", 24)
                    .icon("google_plus", "./assets/svg/google_plus.svg", 512)
                    .icon("hangouts", "./assets/svg/hangouts.svg", 512)
                    .icon("twitter", "./assets/svg/twitter.svg", 512)
                    .icon("phone", "./assets/svg/phone.svg", 512);

                $mdThemingProvider.theme('default')
                    .primaryPalette('blue-grey')
                    .accentPalette('blue');

                extendDefaultObjectsProvider.objectFor('show-image', {
                    'background-size': 'cover',
                    'background-position': '50% 50%',
                    'background-repeat': 'no-repeat'
                });
            });
    </script>

</body>

</html>