/*
Author: Ben Brown
Description: This file contains overriding styles intended for google search as used in ben-web
 */

.gs-image-thumbnail-box:hover {
    box-shadow: 0 0 2em #888888;
}

.gsib_b {
    display: none;
}

.gsc-search-button-v2 {
    padding: 6px 20px !important;
}
