$background-grey: #EEE;
$md-accent-color: rgb(68,138,255);
$image-minimum: 3em;
$image-margin: 9px;
$login-banner-margin: 7%;

body {
  background-color: $background-grey;
}

#main-frame {
  background-color: white;
}

#login-banner {
  margin-top: $login-banner-margin;
  font-family: 'Roboto Slab', 'Roboto', 'Helvetica Neue', sans-serif;
  border-bottom: 3px solid adjust-hue($md-accent-color, 20%);
}

h1, a {
  text-align: center;
}

login-divider {
  width: 100%;
}

.made-with-technologies > img {
  margin: $image-margin;
  height: $image-minimum;
  width: auto;
}
